#headerGrid {
  display: grid;
  grid-template-columns: repeat(34, 50px);
  padding: 1px; 
  font-family: "Open Sans", sans-serif;
}

div{
    display:inline;
    font-size: 10px;
}
.headerDiv
{
    font-size: 12px;
    background-color: #bbb;
}

.sideheaderDiv
{
    font-size: 11px;
    background-color: #bbb;
}
